In [41]:
import pandas as pd

In [54]:
first=pd.read_excel('EmployeeTotalCompensation_AllCensusRegions_updated.xlsx')

In [55]:
first

,Employment Cost Index (NAICS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,CIU2010000000230I,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Not seasonally adjusted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Series Title:,Total compensation for Private industry worker...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
63,2019,Qtr4,135.7,NaN,NaN,NaN,NaN,2019 Qtr4,135.7
64,2019,Annual,134.575,NaN,NaN,NaN,NaN,2019 Annual,134.575
65,2020,Qtr1,137.5,NaN,NaN,NaN,NaN,NaN,NaN
66,2020,Qtr2,137.6,NaN,NaN,NaN,NaN,NaN,NaN
67,2020,Qtr3,138.2,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
clean=first.dropna()

In [57]:
clean.columns=['Year','Jan','Feb','Mar','Qtr1','Apr','May','Jun','Qtr2','Jul','Aug','Sep','Qtr3','Oct','Nov','Dec','Qtr4','Annual','HALF1','HALF2']
clean.drop(10,inplace=True)
clean.set_index('Year',inplace=True)

ValueError: Length mismatch: Expected axis has 9 elements, new values have 20 elements

In [58]:
clean

Empty DataFrame
Columns: [Employment Cost Index (NAICS), Unnamed: 1, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8]
Index: []

In [53]:
clean.to_csv('NortheastCR_CPI_&_ECI.csv',index=False)